.dropdown-holder {
  /* position: fixed;
  top: 10px;
  left: 240px; */
  /* margin-top: 5px; */
}

.ui.selection.dropdown {
  min-height: 2.9em;
}

.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  background: rgba(228, 104, 93, 0.03);
}

.ui.dropdown .menu > .item:hover {
  background: rgba(228, 104, 93, 0.05);
}

.ui.selection.dropdown .menu > .item {
  border-top: 1px solid rgba(228, 104, 93, 0.03);
}

.ui.dropdown .menu > .item {
  font-size: 1.3em;
}

.ui.selection.dropdown {
  font-size: 1.3em;
}

@media (max-width: 600px) {
  /* .dropdown-holder {
    top: 80vh;
    left: 30vw;
  } */

  .ui.selection.dropdown {
    min-width: 13.9em;
  }
}
