.info-window {
  text-align: center;
  margin-left: 6px;
  max-width: 150px;
}

.info-window h4 {
  margin: 0 0 8px;
  font-size: 1.1em;
}

.info-window img {
  max-width: 130px;
  display: block;
  padding: 0;
  margin: 10px auto 20px;
}

.info-window button {
  background-color: white;
  color: #e4685d;
  border: 1px #e4685d solid;
  border-radius: 12px;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1em;
  padding: 6px 15px;
  text-decoration: none;
}
.info-window button:hover {
  background-color: #e4685d;
  color: white;
}

@media (max-width: 600px) {
  .info-window h4,
  .info-window button {
    font-size: 1.6em;
  }
}
