body {
  font-family: "Petrona", serif;
  margin: 0;
}

button:focus {
  outline: 0;
}

.about-header a {
  font-family: "Dancing Script", cursive;
  color: #e4685d;
  position: absolute;
  top: 74px;
  left: 35px;
}

.about-header a:hover,
.about-header a:active {
  color: #808080;
}

.about-header a.clicked {
  color: #808080;
}

@media (max-width: 600px) {
  .about-header a {
    top: 90vh;
    left: 9px;
  }
}
